<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href=" /Users/lavishvaishnav/Desktop/PYTHON/CarPricePred/static/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Car Price Predication!</title>
</head>

<body class="bg-dark">

    <div class="container">
        <div class="row">
            <div class="card mt-50" style="width: 100%; height: 100%; margin-top: 50px;">

                <div class="card-header">
                    <div class="col-12" , style="text-align: center;">
                        <h1><b>Car Price Predication</b></h1>
                        <style>
                            .card-header {
    background-color: #0f45a320;
    padding: 20px;
}

.text-primary {
    color: #031a8b !important;
}

.font-weight-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

                            </style>

                    </div>

                </div>
                <div class="card-body">

                    <form meathod="post"  accept-charset="utf-8">

                        <div class="col-md-10 form-group" style="text-align: center">
                            <label><b>Select the company:</b> </label><br>
                            <select class="selectpicker form-control" id="company" name="company" required="1"
                                onchange="load_car_models(this.id,'car_model')">
                                {% for company in companies %}
                                <option value="{{ company }}">{{ company }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-10 form-group" style="text-align: center;">

                            <label><b>Select Model:</b></label>
                            <select class="selectpicker form-control" , id="car_model" name="car_model" required="1">
                                {% for model in car_models %}

                                <option value="{{ model }}">{{model}}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="col-10 form-group" style="text-align: center;">

                            <label><b>Select Year:</b></label>
                            <select class="selectpicker form-control" , id="year" name="year" required="1">
                                {% for year in years %}
                                <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}


                            </select>
                        </div>
                        
                        <div class="col-10 form-group" style="text-align: center;">

                            <label><b>Enter the number of kilometers Traveled:</b></label>
                            <input class="form-control" type="text" id="kilo_driven" name="kilo_driven"
                                placeholder="Enter the number of kilometers Traveled">
                        </div>
                        <div class="col-10 form-group" style="text-align: center;">

                            <label><b>Select Fuel Type:</b></label>
                            <select class="selectpicker form-control" , id="fuel_type" name="fuel_type" required="1">
                                {% for fuel_type in fuel_types %}
                                <option value="{{ fuel_type }}">{{ fuel_type }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-10 form-group" style="text-align: center;">
                            <button class="btn btn-primary form-control" onclick="send_data()">Predict Price</button>
                        </div>
                    </form>
                    
                <div class="row">
                    <div class="col-12" style="text-align:center">
                        <h4><span id="prediction"></span></h4>

                </div>
            </div>
        </div>
    </div>

    <script>

        function load_car_models(company_id, car_model_id) {
            var company = document.getElementById(company_id);
            var car_model = document.getElementById(car_model_id);
            console.log(company.value);
            console.log('before car model value' + car_model.value);
            car_model.value = "";
            console.log('after car model value blank' + car_model.value);
            car_model.innerHTML = "";
            console.log(' inner html car model value' + car_model.value);

            {% for company in companies %}

            console.log('selected company element---' + company);
            console.log('selected company element value---' + company.value);
            console.log('array value from server---' + "{{ company }}");

            if (company.value == "{{ company }}") {

                {% for model in car_models %}
                console.log('model---' + "{{ model }}");
                console.log('company---' + "{{ company }}");


                {% if company in model %}


                var newOption = document.createElement("option");
                newOption.value = "{{ model }}";
                newOption.innerHTML = "{{ model }}";
                console.log('newoption---' + newOption.value);
                console.log('before car model---' + car_model.options);
                car_model.options.add(newOption);
                console.log('after car model---' + car_model.options);
                {% endif %}
                {% endfor %}
            }
            {% endfor %}

        }
        function form_handler(event) {
        event.preventDefault(); // Don't submit the form normally
    }
    function send_data()
    {
        document.querySelector('form').addEventListener("submit",form_handler);

        var fd=new FormData(document.querySelector('form'));

        var xhr= new XMLHttpRequest({mozSystem: true});
        console.log("xhr------"+JSON.stringify(xhr));

        xhr.open('POST','/predict',true);
        console.log("xhr------"+JSON.stringify(xhr));
        document.getElementById('prediction').innerHTML="Wait! Predicting Price.....";
        xhr.onreadystatechange = function(){
            console.log(xhr.readystate);
            if(xhr.readyState == XMLHttpRequest.DONE){
                console.log(xhr.responseText);

                document.getElementById('prediction').innerHTML="Prediction: ₹"+xhr.responseText;

            }
        };

        xhr.onload= function(){};

        xhr.send(fd);
    }
    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>